
.head{
    height: var(--header-height);
    background-image: linear-gradient(0,#1d80ed,#765cca);
}

.head__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.navbar__list{
    list-style: none;
    padding-left: 0;
    min-height: 20px;
    margin-bottom: 0;
    
}

.navbar__list-item{
    display: inline-block;   
    margin: 0 8px;
    /* padding: 0 8px; */
    position: relative;
    z-index: 3;
}

.navbar__list-item,
.navbar__item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight:400;
}

.navbar__list-item:hover,
.nav__item--icon-link:hover,
.navbar__item-link:hover{
    color:rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.navbar__list,
.nav__item--icon-link,
.navbar__list-item,
.navbar__item-link{
    display: inline-flex;
    align-items: center;
}

.nav__item--icon-link{
    color: var(--white-color);
    text-decoration: none;
}


.item-saperate::after{
    content: "";
    display: block;
    border-left: 1px solid #c3d4dc;
    position: absolute;
    height: 16px;
    top: 0;
    right: -9px;
}
/* .item-saperate{
    border-right: 1px solid #fa8f82;
} */

.icon{
    font-size: 1.6rem; 
    padding-right: 3px;
}

.nav__item--icon-link{
    font-size: 1.6rem;
    padding: 0 4px
}

.navbar__list-span{
    color: var(--white-color);
    cursor: default;
    user-select: none;
}
.navbar__list-item:hover .navbar-notification,
.navbar__list-item:hover .head__qr{
    display:block;
}

/* <!--QR code--> */



.head__qr{
    position:absolute;
    top:150%;
    left: 0;
    width : 180px;
    background-color: #fff;
    padding: 6px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
}

.head__qr--connect::before{
    content:"";
    height: 30px;
    width: 180px;
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
    
}

.qr-img{
    width: 100%;
}

.qr__app-dowload{
    display:flex;
    justify-content:space-between;
}
 
.qr__app-dowload a:first-child{
    margin-left: 11px;
}

.qr__app-dowload a:last-child{
    margin-right: 11px;
}

.qr__app-dowload--link{
   text-decoration: none; 
}

.qr__app-img{
    height:16px;
}
/* <!--End QR code--> */
/* <!--Notification--> */

@keyframes animation-notify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}

.navbar-notification{
    width: 450px;
    position: absolute;
    top: 150%;
    right: 0;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid #ccc;
    border-radius: 6px;
    transform-origin: Calc(100% - 32px) top;
    animation: animation-notify ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.navbar-notification::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -30px;
}

.navbar-notification::after{
    content: "";
    display: block;
    top: -16px;
    right: -3px;
    position: absolute;
    width: 120px;
    height: 20px;
}

.notify__header{
    padding: 12px 10px;
    color: #777;
    font-weight: 400;
    cursor: default;
    user-select: none;
}

.notify__body{
    padding-left: 0;
}

.notify__content{
    list-style: none;
    display: flex;
    width: 100%;
}

.notify__content-viewer{
    background-color: #eaf3fd;
}

.notify__content-viewer:hover{
    background-color: #ededed;
}

.notify__content-link{
    display:flex;
    text-decoration: none;
    margin: 4px 16px;
}

.notify__content-img{
   height: 60px;
   object-fit: contain;
   border-radius: 2px;
   
}

.notify__info{
    width: 100%;
    line-height: 2rem;
}

.notify__info-name{
    display:block;
    margin-left: 16px;
    color: var(--text-color);
    font-weight: 500;
    font-size:1.5rem;
    
}

.notify__info-description{
    display:block;
    margin-left: 16px;
    color: #999;
    font-size:1.4rem;
    line-height: 1.8rem;
}

.notify__footer{
    text-align: center;
}

.notify__footer-content{
    padding: 16px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size:1.5rem;
    color: var(--primary-color);
}
.notify__footer-content:hover{
    background-color: #f5f5f5;
}
/* login */
.navbar__user{
    margin-left: 8px;
    display: flex;
    justify-content:center;
    position: relative;
}

.navbar__user-img{
    width: 22px;
    height: 22px;
    border-radius:50%;
    box-shadow:0 2px 1px rgba(0,0,0,0.2);
}

.navbar__user-name{
    color: var(--white-color);
    font-size: 1.4rem;
    padding-left: 6px;
    line-height:22px;
    font-weight: 500;
}

.navbar__user:hover .navbar__user-list-item{
    display: block;
}

.navbar__user-list-item{
    position:absolute;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    padding-left: 0;
    list-style: none;
    width:170px;
    border-radius: 6px;
    box-shadow:0 2px 10px rgba(0,0,0,0.4);
    display: none;
    animation: fadeIn linear 0.2s;
}

.navbar__user-list-item::before{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 16px 21px;
    top: -26px;
    right: 20px;
    border-color:transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.navbar__user-list-item::after{
    content: "";
    display: block;
    top: -16px;
    right: -3px;
    position: absolute;
    width: 120px;
    height: 20px;
}

.navbar__user-item:first-child{
    margin-top:6px;
}
.navbar__user-item:last-child{
    margin-bottom:6px;
    border-top: 1px solid #f0f5fa;
}

.navbar__user-item{
    font-size: 1.5rem;
    margin: 0 12px 4px;
}
.navbar__user-item a:hover{
    background-color:var(--primary-color);
    border-radius: 6px;
    color: var(--white-color);
    animation: fadeIn linear 0.2s;
}

.navbar__user-item a{
    margin-top:4px;
    display: block;
    text-decoration: none;
    line-height:20px;
    padding: 8px 16px;
    color: var(--text-color);
}
/* <!--end  Notification--> */


.auth__form{
    width:500px;
    background-color: var(--white-color);
    border-radius:5px;
    overflow: hidden;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.auth__form-body{
    padding: 30px;
}

.auth__header{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 22px;
}

.auth__headding{
    margin:0;
    color:(--text-color);
}

.auth__switch{
    color: var(--primary-color);
    cursor: pointer;
}

.auth__switch:hover,
.auth__policy-link:hover{
    opacity: 0.8;
}
.auth__policy-link:hover{
    text-decoration: underline;
}

.form-control__input{
    width: 100%;
    height:50px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-top: 16px;
    padding: 0 16px;
    font-size:1.3rem;
    outline: none;
    font-weight: 500;
}

.form-control__input:focus{
    border-color: #777;
}

.auth__policy{
    margin-top:32px;
}

.auth__policy-content{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    padding: 0 8px;
}

.auth__policy-link{
    color: var(--primary-color);
    text-decoration: none;   
}

.auth__control{
    margin-top: 70px;
    display: flex;
    justify-content:flex-end;
}

.auth__control-back{
    margin-right: 12px;
}
.btn-hover__back:hover{
    background-color: #c2bbd8;
}

.auth__footer{
    display: flex;
    padding: 0 32px;
    background-color: #e6e1e1;
    justify-content:space-between;
    align-items: center;
}

.btn__social--fb{
    background-color: #2d88ff;
    color: var(--white-color);
    margin: 12px 0;
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.btn__social--gg{
    background-color: var(--white-color);
    color: #777;
    margin: 12px 0;
    padding: 8px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.social-icon-fb{
    background-color: var(--white-color);
    color: #2d88ff;
    padding: 3px;
    font-size: 1.7rem;
    margin-left: 4px;
    border-radius: 5px;
}

.social-icon-gg{
    color: red;
    font-size: 1.7rem;
    margin-left: 10px;
    margin-right: 3px;
}

.auth__social-link{
    
    margin: 0 18px;
} 

/* SignIn */
.auth_help{
    display:flex;
    justify-content:flex-end;
    margin-top: 40px;
}

.help-link{
    text-decoration: none;
    margin: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.saperate{
    display:block;
    height:16px;
    border: 1px solid;
    border-color: #ccdef1;
}

.help-link__forgot{
    color: var(--primary-color);
}

.help-link:hover{
    opacity: 0.8;
}
/* head with search */
.head__search{
    height:var(--header-search);
    display:flex;
    align-items: center;
    margin: 0 8px;
}

.head__logo{
    width: 220px;
}

.head__logo-img{
    color: var(--white-color);
    width: 150px;
    border-color: var(--text-color);
}

.head__search-body{
    height:40px;
    flex: 1;
    width:840px;
    background-color:var(--white-color);
    border: 1px solid #eef1f3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    z-index: 2;
}
/* cart */
.head__cart{
    width: 120px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.head__cart-list-nocart{
    padding: 36px 0 12px;
}

.head__cart-list{
    position:absolute;
    top:calc(100% + 3px);
    right:22px;
    width: 480px;
    background-color:var(--white-color);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(94, 77, 248, 0.2);
    display:none;
    cursor: default;
    animation:fadeIn linear 0.3s;
}

.head__cart-wrap{
    display:inline-block;
    padding: 4px 8px;
    cursor: pointer;
}

.head__cart-wrap:hover .head__cart-list{
    display:block;
}

.head__cart-list::before{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 16px 21px;
    top: -26px;
    right: 18px;
    border-color:transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.head__cart-list-nocart .cart-img{
    display: inline-block;
}
.head__cart-list-nocart .head__nocart-content{
    display:block;
}

.cart-img{
    width:36%;
    display: none;
}

.head__nocart-content{
    display: none;
    font-size: 1.6rem;
    font-weight:500;
    margin-top: 18px;
}

.head__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}

.head__cart-notice{
    position: absolute;
    top: -4px;
    right: 32px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 0px 8px 2px 8px;
    border-radius: 15px;
    border: 2px solid #0969cf;
}

.head__cart-headding{
    text-align: left;
    margin: 13px 0 0 0;
    padding-bottom: 14px;
    padding-left: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(155, 155, 155);
    border-bottom: 1px solid #cfe5fc;;
}

.head__cart-body-list{
    padding:0;
    max-height: 50vh;
    overflow-y:scroll;
}

.head__cart-item{
    display:flex;
    align-items: center;
    margin: 0 0;
    padding: 12px 16px;
}

.head__cart-item:hover{
    background-color: #eeeeee;
}

.head__cart-body-img{
    width: 70px;;
    height:70px;
    border: 1px solid #e6f1fd;
}

.head__cart-info{
    width: 100%;
    margin-left: 8px;
}

.head__cart-info-head{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 12px;
    flex: 1;
}

.head__cart-info-tittle{
    margin: 0;
    font-size: 1.5rem;
    width:250px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}


.head__cart-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight:500;
}

.head__cart-mutil{
    font-size: 1rem;
    font-weight: 300;
    margin:0 4px;
}

.head__cart-qty{
    font-size: 1.4rem;
}

.head__cart-info-body{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.head__cart-info-des{
    font-size: 1.4rem;
    color: #868686;
}

.head__cart-info-remove{
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 12px;
}
.head__cart-info-remove:hover{
    color:var(--primary-color);
}

.head__cart-btn-remove{
    width: 100%;
    height:64px;
    background-color:#fafafa;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display:flex;
    align-items: center;
    justify-content:flex-end;
}


.head__cart-btn{
    margin: 8px 20px;
    color: var(--white-color);
}











    /* search */
.head__search-input{
    height:100%;
    width:100%;
    border: none;
    outline:none;
    border-radius:8px;
    padding:4px 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.head__selection{
    max-width:100px;
    position: relative;
    margin-right: 12px;
    cursor: pointer;
    padding: 8px 0;
}

.head__search-text{
    font-size: 1.4rem;
    border-left: 1px solid #ccc;
    padding: 0 2px 0 16px;
    font-weight: 500;
}

.head__search-icon{
    padding: 0 4px 0 4px;
}

.head__search-btn{
    border: none;
    outline:none;
    background-color:var(--primary-color);
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    display:flex;
}
.head__search-btn:hover{
    opacity: 0.8;
}

.head__selection:hover .head__search-selection{
    display: block;
}

.head__search-selection{
    position:absolute;
    list-style: none;
    top: calc(100% - 6px);
    right: 0;
    background-color:var(--white-color);
    border: 1px solid #b8d5f5;
    box-shadow: 0 1px 2px #cadff5;
    width: 100px;
    padding-left: 0;
    border-radius:3px;
    animation: fadeIn linear 0.2s;
    display: none;
}

.head__search-selection::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -20px;
}

.search__option{
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    
}

.search__option:hover{
    background-color:#fafafa;
}

.search__option + .search__option{
    border-top: 1px solid #e9f1fa;
}

.search__option:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search__option:first-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.head__search-content{
    font-size: 1.4rem;
    font-weight: 400;
    line-height:1rem;
}

.head__option-icon{
    font-size:1.4rem;
    color: var(--primary-color);
}
.mt-1{
    margin-top:1px;
}
/* History */
.head__search-input:focus ~ .head__search-history{
    display:block;
}

.head__search-input-wrap{
    flex: 1;
    height:100%;
    position: relative;
}

.head__search-history{
    width: calc(100% - 16px);
    position: absolute;
    background-color:var(--white-color);
    left:0;
    top: calc(100% + 2px);
    border: 1px solid #daecff;
    border-radius: 6px;
    box-shadow: 0 2px 3px #cee5ff ;
    display:none;
    overflow:hidden;
    animation: fadeIn ease-in 0.3s;
}

.head__search-history-tittle{
    margin: 12px  0 0;
    color:rgb(146, 146, 146);
    font-weight: 400;
    font-size:1.4rem;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e6f1fd;
}
.head__search-history-list{
    list-style: none;
    margin:0;
    font-size:1.5rem;
    padding:  0;
    font-weight: 500;
}

.head__search-history-item{
    padding: 10px 16px;
    cursor: pointer;
}

.head__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    display:block;
}

.head__search-history-item:hover{
    background-color:#fafafa;
}

/* container */
.container{
    background-color:#eff1f5;
}

.container-content{
    padding-top: 24px;
}

.category{
    background-color: var(--white-color);
    margin: 0 0 12px 8px;
    border-radius: 4px;
}

.category-heading{
    font-size:1.6rem;
    margin: 0 16px;
    padding: 16px 0;
    color: var(--text-color);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-transform: uppercase;
    
}

.category-heading-icon{
    font-size:1.6rem;
    margin-right: 6px;
    font-weight: 500;
    position: relative;
    top:1px;
    color: var(--primary-color);
}

.category__list{
    list-style: none;
    padding: 0 0 10px 0;
    margin-bottom: 0;
}

.category__list-item{
    margin: 0 10px;
}


.category__list-item-link{
    text-decoration: none;
    padding: 12px 42px 12px 32px;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
    right:0;
    transition: right linear 0.1s;
}

.category__list-item-link:hover{
    right: -4px;
    background-color:var(--primary-color);
    color: var(--white-color);
    animation: fadeIn linear 0.1s;
    border-radius: 4px;     
    display: block;
}

.category__list-item:hover .category__list-item-link::before{
    display: block;
}

.category__list-item-link::before{
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 12px;
    border: 6px solid;
    border-color: transparent transparent transparent var(--white-color);
    transform: translateY(calc(50% - 12px));
}
/* home filter */

.home__filter{
    display: flex;
    background-color:#e6e8eb;
    padding: 13px 20px;
    align-items: center;
    border-radius: 4px;
}

.home__filter-label{
    font-size:1.6rem;
    font-weight:400;
    margin-right: 16px;
}

.btn-home__filter{
    min-width:98px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0 5px;
    font-size: 1.4rem;
    border-radius:4px;
    transition: all 0.3s ease;
}

.btn-home__filter:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home__filter-select{
    margin:5px;
}

.home__filter-page{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: auto;
}

.home__filter-page-num{
    font-size: 1.4rem;
    color:var(--text-color);
    margin-right: 12px;
}

.home__filter-page-curr{
    color:var(--primary-color);
}
.home__filter-control{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 72px;
    height:34px;
}

.home__filter-control-page{
    flex: 1;
    height:100%;
    background-color:var(--white-color);
    display: flex;
    border-radius: 2px;
}

.home__filter-control-page--active:hover{
    opacity: 0.8;
}

.home__filter-control-page:first-child{
    border-right: 1px solid #e2f0ff;
}

.home__filter-control-page--disabled{
    background-color:#f9f9f9;
    cursor:default;
}

.home__filter-control-page--disabled .home__filter-link{
    color: #ccc;
}

.home__filter-control-page--disabled i{
    cursor:default;
}

.home__filter-link{
    display:block;
    padding:12px 12px;;
    text-decoration: none;
}

.home__filter-link i{
    position:relative;
    font-size:1.2rem;
    top:-1px;
}

/* Product  */
.home-product-items{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.2s;
    will-change: transform;
}

.home-product-items:hover{
    box-shadow: 0 1px 20px 0 rgba(90, 72, 255, 0.05);
    transform:translateY(-1px);
}

.home-product-items__img{
    padding-top: 100%;
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

}

.home-product-items__label{
    font-size:1.5rem;
    margin: 10px;
    line-height:1.8rem;
    color: var(--text-color);
    height:36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-items__desc{
    font-size:1.4rem;
    margin: 10px;
    font-weight: 400;
    color: #777;
    line-height:1.8rem;
    height:36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-items__price-item{
    display: flex;
    font-size: 1.6rem;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-items__price{
    margin: 0 0 10px 10px;
    text-decoration: line-through;
    color: #999;
}

.home-product-items__sales{
    margin: 0 0 10px 10px;
    color:var(--primary-color);
    font-weight: 500;
}

.home-product-items__action{
    display:flex;
    justify-content:space-between;
    margin: 0 10px 10px;
    align-items: center;
}

.home-product-items__action-like{
    font-size: 1.6rem;
    cursor: pointer;
}

i.home-product-items__action-liked-fill{
    display:none;
    color:var(--primary-color);
}

.home-product-items__action-liked .home-product-items__action-liked-fill{
    display:inline-block;
}

.home-product-items__action-liked .home-product-items__action-no-like{
    display:none;
}

.home-product-items__action-rates{
    font-size: 0.9rem;
    margin-left: auto;
}

.home-product-items__action-rates-icon{
    color: var(--primary-color);
}

.home-product-items__sold{
    margin-left: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}

.home-product-items__original{
    display:flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 0 10px;
}

.home-product-items__original-brand{
    font-size: 1.2rem;
    color:var(--text-color);
}

.home-product-items__original-type{
    font-size: 1.2rem;
    color:var(--text-color);
}

.home-product-items__favorite{
    position:absolute;
    top: 10px;
    left:-4px;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-items__favorite::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-items__favorite i{
    color: var(--white-color);
    margin-left: 2px;
    font-size: 1.2rem;
}
.home-product-items__favorite span{
    color: var(--white-color);
    padding-right: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.home-product-items__sales-off{
    position:absolute;
    background-color: rgb(239 175 69 / 60%);
    top:0;
    right:0;
    display:flex;
    flex-direction: column;
    width:38px;
    height:36px;
    text-align: center;
    line-height:1.8rem;
    border-top-right-radius: 2px;
}

.home-product-items__sales-off::after{
    content: "";
    position: absolute;
    display: block;
    border-width: 0px 19px 5px;
    border-style: solid;
    right: 0px;
    bottom: -5px;
    color: rgb(239 175 69 / 60%);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-items__sales-off-percent{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
}

.home-product-items__sales-off-label{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
}

.home-pagination{
    margin:60px 0 230px;
}

/* footer */

.footer{
    background-color:#192027;
    padding-bottom: 100px;
}

.footer-list{
    padding-top: 120px;
    list-style: none;
    color: var(--white-color);
    padding-left: 0;
}


.footer-list__item-link{
    text-decoration: none;
}

.footer-list__item-img{
    width:288px;
    height:36px;
}


.footer-list__item-desc{
    font-size: 1.6rem;
    color: #ababab;
    line-height: 2.6rem;
}



.footer-list__item-heading{
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 36px;
}

.footer-list__item-fanpage{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 12px 0 0 0 ;
}

.footer-list__contact{
    margin-top:40px;
    font-size: 1.8rem;
    list-style: none;
    padding:0;
}

.footer-list__contact-item{
    margin: 14px 0;
}

.footer-list__contact-text{
    color: #ababab;
    margin-left: 12px;
}

.footer-list__item-fanpage-desc{
    font-size: 1.8rem;
    margin-top: 24px;
}

.footer-list__item-head{
    display:flex;
    align-items: center;
    font-size: 2.4rem;
    
}

.footer-list__item-view{
    margin: 0 24px 0 0;
    font-weight:600;
}

.footer-list__item-online{
    margin: 0 0 0 24px; 
    font-weight:600;
}

.footer-list__item-body{
    display:flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 20px;
}

.footer-list__item-view-desc{
    margin: 0 38px 0 18px;
}

.footer-list__item-online-desc{
    margin: 0 0 0 74px; 
}

.footer-list__item-social{
    font-size:2.4rem;
    margin-top: 34px;
    font-weight: 400;
}

.footer-list__item-social-desc{
    font-size: 1.6rem;
    color: #ababab;
}

.footer-list__items-link-icon{
    display:inline-block;
    padding:2px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 3.6rem;
    border-radius: 24px;
    margin: 12px 4px;
}


.footer-bottom{
    background-color:#262b30;
}


.coppyright{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 30px 0 50px;
    font-size: 1.6rem;
}

.coppyright-text{
    display: inline-block;
    margin:0;
    color: #ababab;
}

.coppyright a{
    text-decoration: none;
    color: var(--white-color);
    padding:6px;
}

.coppyright a:hover{
    color: var(--primary-color);
}

.footer-list__item-fanpage-img{
    padding-top: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 14px;
}
.footer-list__item-img-user{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left:0;
    border-radius: 81px;
    opacity: 0.6;
}